In [3]:
import numpy as np
import pandas as pd

#### First we load the data

In [4]:
# csv, excel | xls | xlsx
# df = pd.read_csv('../data/raw/sales_data.csv')
# df = pd.read_excel()
df = pd.read_json('../data/raw/customers.json')
df.head()

,id,email,first,last,company,created_at,country
0,1,isidro_von@hotmail.com,Torrey,Veum,"Hilll, Mayert and Wolf",2014-12-25 04:06:27.981000+00:00,Switzerland
1,2,frederique19@gmail.com,Micah,Sanford,Stokes-Reichel,2014-07-03 16:08:17.044000+00:00,Democratic People's Republic of Korea
2,3,fredy54@gmail.com,Hollis,Swift,"Rodriguez, Cartwright and Kuhn",2014-08-18 06:15:16.731000+00:00,Tunisia
3,4,braxton29@hotmail.com,Perry,Leffler,"Sipes, Feeney and Hansen",2014-07-10 11:31:40.235000+00:00,Chad
4,5,turner59@gmail.com,Janelle,Hagenes,Lesch and Daughters,2014-04-21 15:05:43.229000+00:00,Swaziland

#### Then we do EDA

In [9]:
df.shape
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          9999 non-null   int64
 1   email       9999 non-null   object
 2   first       9999 non-null   object
 3   last        9999 non-null   object
 4   company     9999 non-null   object
 5   created_at  9999 non-null   datetime64[ns, UTC]
 6   country     9999 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(5)
memory usage: 546.9+ KB

In [12]:
df.dtypes

id                          int64
email                      object
first                      object
last                       object
company                    object
created_at    datetime64[ns, UTC]
country                    object
dtype: object

In [ ]:
import datetime, time
timestamp = "2014-05-10 12:30:00"
timee = "12:30:00"
date = '2014-05-10'

try:
    
    time.strptime(date, "%Y-%m-%d %H:%M:%S")
    print('done')
except ValueError:
    print('error')

done

In [ ]:
for column in df.columns:
    df[column] = pd.to_datetime(df[column])