In [1]:
import numpy as np
import pandas as pd

In [ ]:
# csv, excel | xls | xlsx
# df = pd.read_csv('../data/raw/sales_data.csv')
# df = pd.read_excel()
df = pd.read_json('../data/raw/customers.json')
df.head()

,id,email,first,last,company,created_at,country
0,1,isidro_von@hotmail.com,Torrey,Veum,"Hilll, Mayert and Wolf",2014-12-25 04:06:27.981000+00:00,Switzerland
1,2,frederique19@gmail.com,Micah,Sanford,Stokes-Reichel,2014-07-03 16:08:17.044000+00:00,Democratic People's Republic of Korea
2,3,fredy54@gmail.com,Hollis,Swift,"Rodriguez, Cartwright and Kuhn",2014-08-18 06:15:16.731000+00:00,Tunisia
3,4,braxton29@hotmail.com,Perry,Leffler,"Sipes, Feeney and Hansen",2014-07-10 11:31:40.235000+00:00,Chad
4,5,turner59@gmail.com,Janelle,Hagenes,Lesch and Daughters,2014-04-21 15:05:43.229000+00:00,Swaziland